* {
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: inherit;
  /* color: inherit; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url(img_pollo_locco/img/background/desert.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "riogrande", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "riogrande";
  src: url("fonts/riogrande.ttf");
}

h1 {
  color: #9c5328;
  font-size: clamp(50px, 5vw, 120px);
  letter-spacing: 3px;
  text-shadow: 8px, 8px, 8px rgba(0, 0, 0, 0.5);
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
}

.btn {
  padding: 15px 30px;
  font-family: "riogrande";
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  background-color: #9c5328;
  color: #f2eac0;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #f2eac0;
  transform: scale(1.1);
  color: #9c5328;
}

.game-title {
  margin: 20px 0;
}

.canvas-container {
  position: relative;
  display: inline-block;
}

.canvas-container:fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.game-canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
  display: block;
  border-radius: 15px;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-family: "riogrande";
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  background-color: #f0ebc1;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.start-btn:hover {
  background-color: #f0ebc1;
  transform: translate(-50%, -50%) scale(1.1);
  color: #9c5328;
}

.img-dialog {
  height: 50px;
  width: 50px;
}

.key-instruction-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  display: flex;
  align-items: center;
}

.btn-dialog {
  padding: 5px 10px;
  font-family: "riogrande";
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  background-color: #9c5328;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-dialog:hover {
  background-color: #f0ebc1;
  transform: scale(1.1);
  color: #9c5328;
}

.dialog-header {
  width: 100%;
  display: flex;
  justify-content: end;
}

.impressum-dialog {
  font-family: "Courier New", Courier, monospace;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 3px solid #9c5328;
  border-radius: 12px;
  padding: 20px;
  background-color: #f1efd8;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.445);
}

.mute-btn,
.restart-btn,
.home-btn,
.fullscreen-btn,
.cntrl-btn {
  position: absolute;
  top: 0px;
  z-index: 2;
  background: none;
  border: none;
  padding: 6px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.mute-btn:hover,
.restart-btn:hover,
.home-btn:hover,
.fullscreen-btn:hover,
.cntrl-btn:hover {
  transform: scale(1.1);
}

.mute-btn {
  right: 0px;
}

.restart-btn {
  right: 30px;
}

.home-btn {
  right: 60px;
}

.fullscreen-btn {
  right: 90px;
}

.cntrl-btn {
  right: 120px;
}

.loosing-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 720px;
  height: 480px;
}

.loosing-screen-fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winning-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 720px;
  height: 480px;
}

.winning-screen-fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-loose-img {
  width: 450px;
}

.rotate-hint {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: red;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 12px;
  z-index: 9999;
  text-align: center;
}

.device-lock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
  padding: 20px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.device-lock.show {
  opacity: 1;
  pointer-events: all;
}

.mobile-controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  pointer-events: auto;
  z-index: 1000;
  touch-action: none;
}

.left-controls,
.right-controls {
  display: flex;
  gap: 10px;
}

.mobile-btn {
  width: 40px;
  height: 40px;
  font-size: 26px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  user-select: none;
  touch-action: none;
}

.mobile-btn.active {
  transform: scale(0.9);
  opacity: 0.7;
}

.d-none {
  display: none;
}
