* {
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: inherit;
  /* color: inherit; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url(img_pollo_locco/img/background/desert.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "riogrande", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "riogrande";
  src: url("fonts/riogrande.ttf");
}

h1 {
  color: #4d2814;
  font-size: 120px;
  letter-spacing: 3px;
  text-shadow: 8px, 8px, 8px rgba(0, 0, 0, 0.5);
}

.menu {
  display: flex;
  gap: 10px;
}
.btn {
  padding: 15px 30px;
  font-family: "riogrande";
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  background-color: #f0ebc1;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #f0ebc1;
  transform: scale(1.1);
  color: #9c5328;
}

.game-title {
  margin: 20px 0;
}

.canvas-container {
  position: relative;
  display: inline-block;
}

.game-canvas {
  background-color: black;
  background-image: url("./img_pollo_locco/img/canvas_overlay/overlay.png");
  display: block;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-family: "riogrande";
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  background-color: #f0ebc1;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.start-btn:hover {
  background-color: #f0ebc1;
  transform: translate(-50%, -50%) scale(1.1);
  color: #9c5328;
}

.img-dialog {
  height: 50px;
  width: 50px;
}

.key-instruction-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  display: flex;
  align-items: center;
}

.btn-dialog {
  padding: 5px 10px;
  font-family: "riogrande";
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  background-color: #9c5328;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-dialog:hover {
  background-color: #f0ebc1;
  transform: scale(1.1);
  color: #9c5328;
}

.dialog-header {
  width: 100%;
  display: flex;
  justify-content: end;
}

.impressum-dialog {
  font-family: "Courier New", Courier, monospace;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 3px solid #9c5328;
  border-radius: 12px;
  padding: 20px;
  background-color: #f1efd8;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.445);
}
